body {
    background-color: #000;
}
div#gridContainer {
    display: grid;
    grid-template: repeat(16, 40px) / repeat(16, 40px);
    border: 5px solid black;
    width: 640px;
    background-color: #fff;
}

.black {
    background-color: #000;
}