body {
    background-color: #000;
}

div#allContent {
    display: flex;
    justify-content: center;
}

div#gridContainer {
    display: grid;
    border: 5px solid salmon;
    background-color: #fff;
    float: left;
    height: 320px;
    width: 320px;
}

div#buttons {
    margin-left: 15px;
    display: inherit;
    flex-direction: column;
}

button {
    width: 50px;
    height: 50px;
    outline: none;
    margin: 5px;
}

button#clear {
    background-color: aqua;
}

button#canvas {
    background-color: crimson;
}

.black {
    background-color: #000;
}

div.lightgrayborder {
    border: 1px solid lightgray;
}